[submodule "health-project-nestjs"]
	path = health-project-nestjs
	url = https://github.com/xdtconsulting/health-project-nestjs.git

[submodule "apps/helath"]
	path = apps/helath
	url = https://github.com/daniv293/helath.git

[submodule "apps/inventory"]
	path = apps/inventory
	url = https://github.com/daniv293/inventory.git
